<h2 class="text-center">Lista de categorias</h2>
<hr>
<div class="d-flex justify-content-center">
<a href="/admin/categorias/add">
    <button class="btn btn-success mb-3">Adicionar categoria</button> 
</a>
</div>


{{#each categoria}}

    <div class="card mt-2">
        <div class="card-body">
            <h4>{{nome}}</h4>
            <small>Slug: {{slug}}</small>
            <br>
            <small>Data de criação: {{date}}</small>
            <div class="d-flex justify-content-end">
                <a href="/admin/categorias/edit/{{_id}}">
                    <button class="btn btn-success mr-3">Editar categoria</button>
                </a>
                <form action="/admin/categorias/deletar" method="post">
                    <input type="hidden" name="id" value="{{_id}}">
                    <button type="submit" class="btn btn-danger">Deletar</button>
                </form>
            </div>
        </div>
    </div>

{{else}}

    <div class="alert alert-info text-center">Nenhuma categoria registrada</div>

{{/each}}