
<h2 class="text-center display-3">Lista de categorias</h2>
<hr>
<div class="d-flex justify-content-center">
<a href="/admin/postagens/add">
    <button class="btn btn-success mb-3">Nova postagem</button> 
</a>
</div>


{{#each postagens}}
    <div class="card mt-2">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div>
                    <h4 class="text-center">{{titulo}}</h4>
                    <p class="text-center">Descrição: {{descricao}}</p>
                    <small class="text-center d-block">Data: {{data}}</small>
                    <small class="text-center d-block">Categoria: {{categoria.nome}}</small> 
                </div>
            </div>
            
            <div class="d-flex justify-content-center align-items-end">
                <a href="/admin/postagens/edit/{{_id}}" class="btn btn-success ml-3 mt-3">Editar</a>
               
                <form action="/admin/postagens/deletar" method="post" class="ml-3">
                    <input type="hidden" name="id" value="{{_id}}">
                    <button type="submit" onclick="perguntar(event)" class="btn btn-danger">Deletar</button>
                    <button type="submit" id="buttonnone" style="display: none"></button>
                </form>

            </div>
        </div>
    </div>
{{else}}
     <div class="alert alert-warning">
        <h2 class="text-center display-7">Nenhuma postagem cadastrada</h2>
    </div>
{{/each}}

<script>
    function perguntar(event){

        event.preventDefault();


        Swal.fire({
        title: 'Você tem certeza?',
        text: "Não será possivel voltar atras",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sim, delete!'
        }).then((result) => {
        if (result.value == true) {
            Swal.fire(
            'Deletado!',
            'A categoria foi deletada.',
            'success'
            )
         setTimeout(function(){
                enviarForm = document.getElementById('buttonnone')
                enviarForm.click();
            },1500)
        }else{
            Swal.fire(
            'Não deletado!',
            'A categoria não foi deletada.',
            'error'
            )
        }
    })
}
    
</script>