
<h2 class="text-center">Lista de categorias</h2>
<hr>
<div class="d-flex justify-content-center">
<a href="/admin/postagens/add">
    <button class="btn btn-success mb-3">Nova postagem</button> 
</a>
</div>


{{#each postagens}}
    <div class="card mt-2">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div>
                    <h4 class="text-center">{{titulo}}</h4>
                    <p class="text-center">Descrição: {{descricao}}</p>
                    <small class="text-center d-block">Data: {{data}}</small>
                    <small class="text-center d-block">Categoria: {{categoria.nome}}</small> 
                </div>
            </div>
            
            <div class="d-flex justify-content-center">
                <a href="/admin/postagens/edit/{{_id}}" class="btn btn-success ml-3 mt-3">Editar</a>
               
                <form action="/admin/postagens/deletar" method="post">
                    <input type="hidden" name="id" value="{{_id}}">
                    <button type="submit" class="btn btn-danger">Deletar</button>
                </form>
                
            </div>
        </div>
    </div>
{{else}}
    <p>Nenhuma Postagem registrada</p>
{{/each}}