<div class="jumbotron own__jumbotron">
  <h1 class="display-4 text-center">Olá, bem vindo</h1>
  <p class="lead text-center">Este é um projeto criado para praticar CRUD com MongoDB + NodeJS</p>
  <hr class="my-4">
  <div class="d-flex justify-content-center">
  </div>

  
  <h3 class="text-center mt-3 mb-3">Tecnologias utilizadas: </h3>

    <div class="d-flex justify-content-around">
      <img width="50px" class="zoomup" height="50px"src="https://cdn.iconscout.com/icon/free/png-512/node-js-1174925.png" alt="NodeJS">
      <img width="50px" class="zoomup" height="50px"src="https://img.icons8.com/color/452/mongodb.png" alt="MongoDB">
      <img width="50px" class="zoomup" height="50px"src="https://miro.medium.com/max/400/1*YI1tt4kGzvea-v4dAhZ90w.png" alt="PassportJS">
      <img width="50px" class="zoomup" height="50px"src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/mongoose/mongoose.png" alt="Mongoose">
      <img width="70px" class="zoomup" height="50px"src="https://i0.wp.com/blog.fossasia.org/wp-content/uploads/2017/07/handlebars-js.png?fit=500%2C500&ssl=1&resize=350%2C200" alt="MongoDB">

    </div>
  

</div>

<hr>

<h2 class="text-center">Postagens Recentes</h2>

{{dataAgora}}
{{#each postagens}}
    <div class="card mt-3 mb-3 glassmorphism own__card">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div>
                    <h4 class="text-center">{{titulo}}</h4>
                    <p class="text-center">Descrição: {{descricao}}</p>

                    <div class="d-flex justify-content-center mb-3">
                        <a href="/postagem/{{slug}}" class="btn btn-primary btn-sm">Leia mais</a>
                    </div>
                    
                    <small class="text-center d-block">{{#formatDataExata data}} {{/formatDataExata}} 
                     {{#formatDataTempo data}} {{/formatDataTempo}}</small>
                    <small class="text-center d-block">Categoria: {{categoria.nome}}</small> 
                </div>
            </div>
        </div>
    </div>
{{else}}
    <div class="alert alert-warning">
        <h2 class="text-center display-5">Nenhuma postagem cadastrada</h2>
    </div>

{{/each}}

<style>
    .card{
        background-color:rgba(127, 255, 212, 0.513)
    }
</style>